<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body onload="gridPictures()">
<th:block th:replace="fragments/navbar"></th:block>
<div class="jumbotron-fluid mx-auto" align="center">
    <h1 th:text="|Детайли за ${partView.name}|"></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 align="center">Описание:</h3>
            <p th:text="${partView.description}" class="break-word"></p>
        </div>
        <div align="center" class="col-sm-6">
            <h3 th:text="|Налично количество: ${partView.quantity}|"></h3>
            <h3 th:text="|Единична Цена: ${partView.price}лв|"></h3>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/register}">Регистрирай</a> се или <a th:href="@{/login}">влез</a> за да направиш поръчка.
            </div>
            <a sec:authorize="hasAuthority('USER')" class="btn btn-success disabled"
               th:href="|/orders/create/part/${partId}|">
                Добави поръчка
            </a>
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning"
               th:href="|/admin/parts/edit/${partId}|">
                Промени част
            </a>
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"
               th:href="|/admin/parts/delete/${partId}|">
                Изтрий част
            </a>
        </div>
    </div>
</div>
<div class="row-custom">
    <div class="column-custom-grid zoom-hover" th:each="string : ${partView.picturesContentsAsBase64}">
        <img th:src="|data:image/jpg;base64,${string}|">
    </div>
</div>

</body>
</html>